@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Oswald&family=Roboto&family=Square+Peg&display=swap');

@import './Home.scss';
@import '../components/TodoForm/TodoForm.scss';
@import '../components/TodoList/TodoList.scss';
@import '../components/Todos/Todos.scss';
@import '../components/TodoUpdateForm/TodoUpdateForm.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-sky: 14 165 233;
    --color-purple: 168 85 247;
    --color-pink: 236 72 153;
    --color-emerald: 20 184 166;
    --color-orange: 249 115 22;
    --color-darkBlue: 28 34 55;
    --color-darkPink: 240 9 70;
  }

  html,
  body {
    @apply p-0 m-0 min-h-[600px] bg-col-darkBlue;
  }

  a {
    @apply no-underline;
  }

  * {
    @apply box-border scroll-smooth;
  }
}
